<template>
  <div class="col-xs-12">
    <div class="row mb-3">
      <div class="col-xs-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <el-button
              type="warning"
              @click="backToIndex()"
            >
              <el-icon>
                <ArrowLeft />
              </el-icon>
              Назад
            </el-button>
            <el-button
              type="success"
              @click="validate()"
            >
              <el-icon>
                <CircleCheck />
              </el-icon>
              Сохранить
            </el-button>
            <el-button
              v-if="isRouterUpdate"
              type="info"
              @click="openCloneModal()"
            >
              <el-icon>
                <CopyDocument />
              </el-icon>
              Копировать
            </el-button>
          </div>
        </div>
      </div>
    </div>
    <div
      v-loading="loading"
      class="row"
    >
      <div class="col-xl-4 col-l-12 mb-2">
        <div class="card">
          <el-form
            ref="session"
            class="card-body"
            :model="session"
            :rules="rules"
            :label-position="'top'"
            :hide-required-asterisk="false"
            :require-asterisk-position="'right'"
          >
            <h4>Основная информация</h4>

            <el-form-item
              prop="client_id"
              class="form-group mb-2"
              label="Клиент"
              required
            >
              <el-select
                v-model="session.client_id"
                placeholder="Введите/выберите имя"
                :filterable="true"
                :remote="true"
                :clearable="true"
              >
                <el-option
                  v-for="client in clients"
                  :key="client.id"
                  :label="client.name"
                  :value="client.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item
              label="Дата сессии"
              prop="session_date"
              class="form-group row mb-2"
              required
            >
              <el-date-picker
                v-model="session.session_date"
                type="date"
                placeholder="Select date and time"
                format="DD.MM.YYYY"
                value-format="YYYY-MM-DD"
                unlink-panels
                range-separator="-"
                :disabled-date="disablePastDates"
                @change="fetchTimeOptions(session.session_date)"
              >
              </el-date-picker>
            </el-form-item>
            <el-form-item
              label="Время начала и окончания сессии"
              prop="session_time_start"
              class="form-group row mb-2"
              required
            >
              <el-select
                v-model="session.session_time_start"
                :disabled="isSessionDate || !options.length"
                placeholder="Выберите время начала сессии"
                :clearable="true"
              >
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                  :disabled="item.disabled"
                />
              </el-select>
            </el-form-item>
            <el-form-item
              prop="session_time_end"
              class="form-group row mb-2"
              required
            >
              <el-select
                v-model="session.session_time_end"
                type="time"
                :disabled="isSessionStartTime || !session.session_date"
                :clearable="true"
              >
                <el-option
                  v-for="item in filteredTimeOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                  :disabled="item.disabled"
                />
              </el-select>
            </el-form-item>
            <el-form-item
              label="План на сессию"
              prop="comment"
              class="form-group"
            >
              <el-input
                v-model="session.comment"
                placeholder=""
                type="textarea"
                resize="none"
                :rows="6"
              >
              </el-input>
            </el-form-item>

          </el-form>
        </div>
      </div>
      <div
        class="col-xl-4 col-l-12"
      >
        <div class="card">
          <div class="card-body">

            <div class="form-group">
              <div class="d-flex gap-2 align-items-center">
                <el-switch
                  v-model="session.is_regular"
                  @change="session.repeat_count = 0"
                />
                <span class="">Сделать сессию регулярной</span>
              </div>
            </div>
            <div
              v-if="session.is_regular"
              class="mt-2"
            >
              <div class="form-group mb-2">
                <span>Периоды повторений</span>
                <div>
                  <el-radio-group v-model="session.repeat_period">
                    <el-radio
                      label="Неделя"
                    />
                    <el-radio
                      label="Месяц"
                    />
                  </el-radio-group>
                </div>
              </div>
              <div class="form-group mb-2">
                <span>Количество повторений</span>
                <div>
                  <el-input-number
                    v-model="session.repeat_count"
                    :min="1"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <el-dialog
      v-model="showCloneModal"
      title="Дата и время сессии"
      width="30%"
      center
    >
      <div class="d-flex flex-column justify-content-around mb-2">
        <el-date-picker
          v-model="session.session_date_copy"
          type="datetime"
          class="mx-auto"
          placeholder="Select date and time"
          format="DD.MM.YYYY HH:mm"
          value-format="YYYY-MM-DD HH:mm"
          unlink-panels
          range-separator="-"
          :disabled-date="disablePastDates"
        >
        </el-date-picker>
      </div>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="showCloneModal = false">Отмена</el-button>
          <el-button
            type="primary"
            @click="cloneSession"
          >
            Копировать
          </el-button>
        </span>
      </template>
    </el-dialog>

  </div>
</template>

<script>
import Session from './models/Session'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'SessionsForm',
  data() {
    return {
      actions: {
        rest: '/api/v1/sessions',
        clone: '/api/v1/sessions/clone',
        sessionAvailableTime: '/api/v1/sessions/time-range-picker',
      },
      options: [],
      session: Session,
      loading: true,
      showCloneModal: false,
      errors: [],
      rules: {
        client_id: [this.$rules.required],
        session_date: [this.$rules.required],
        session_time_start: [this.$rules.required],
        session_time_end: [this.$rules.required],
      },
    }
  },
  computed: {
    ...mapGetters({
      clients: 'sessions/clients',
    }),
    isSessionDate() {
      return !this.session.session_date
    },
    isSessionStartTime() {
      return !this.session.session_time_start
    },
    filteredTimeOptions() {
      return this.options.map((item) => (
        item.value <= this.session.session_time_start
          ? { ...item, disabled: true }
          : item
      ))
    },
    isRouterUpdate() {
      return this.$route.params.id
    },
  },
  watch: {
    'session.session_time_start': function (v) {
      const index = this.options.findIndex((item) => item.value === v)
      this.session.session_time_end = this.options[index + 6].value
      if (!v) {
        this.session.session_time_end = null
      }
    },
  },
  async created() {
    if (this.$route.params.id) {
      await this.getSession(this.$route.params.id)
    } else {
      this.session = {}
    }
    await this.getClients()
    this.loading = false
  },
  methods: {
    ...mapActions({
      getClients: 'sessions/getClients',
    }),
    async fetchTimeOptions(date) {
      if (date) {
        this.loading = true
        try {
          const response = await this.$http.get(`${this.actions.sessionAvailableTime}/${date}`)
          this.options = response.data.data.time
        } catch (e) {
          this.$message.error('Error')
        } finally {
          this.loading = false
        }
      }
    },
    async getSession(id) {
      try {
        const response = await this.$http.get(`${this.actions.rest}/${id}`)
        this.session = response.data.data.session
      } catch (e) {
        this.$message.error('Error')
      }
    },
    async validate() {
      await this.$refs.session.validate((valid) => {
        if (valid) {
          this.save()
        } else {
          this.$message.error('Заполните все необходимые поля')
        }
      })
    },
    async save() {
      this.loading = true
      try {
        let response
        if (this.session.id) {
          response = await this.$http.put(`${this.actions.rest}/${this.session.id}`, this.session)
        } else {
          response = await this.$http.post(this.actions.rest, this.session)
        }
        this.$message.success(response.data.message)
        await this.$router.push({ name: 'sessions' })
      } catch (e) {
        if (!e.response) {
          throw e
        }
        switch (e.response.status) {
          case 422:
            this.$message.error(e.response.data.message)
            break
          default:
            this.$message.error('Server error')
        }
      }
      this.loading = false
    },
    openCloneModal() {
      this.showCloneModal = true
      const now = new Date(this.session.session_date)
      now.setDate(now.getDate() + 7)
      this.session.session_date_copy = now.format('YYYY-MM-DD HH:mm')
    },
    async cloneSession() {
      this.loading = true
      try {
        const response = await this.$http.post(`${this.actions.clone}/${this.session.id}`, this.session)
        this.$message.success(response.data.message)
        await this.$router.push({ name: 'sessions' })
      } catch (e) {
        if (!e.response) {
          throw e
        }
        switch (e.response.status) {
          case 422:
            this.$message.error(e.response.data.message)
            break
          default:
            this.$message.error('Server error')
        }
      }
      this.loading = false
      this.showCloneModal = false
    },
    disablePastDates(time) {
      return time.getTime() < Date.now() - 8.64e7
    },
    backToIndex() {
      this.$router.push({ name: 'sessions' })
    },
  },
}
</script>

<style scoped>
.contents-inner {
  min-height: 95vh;
  padding: 15px 45px 30px 45px;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 100%;
}
.text-span {
  font: 400 13.3333px Arial;
}
.el-input__icon:after {
  height: 0;
}
.w-50.el-input--mini > .el-input__inner {
  width: 50%;
}
.el-select {
  width: 100%;
}
</style>
