<template>
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <el-button
              type="primary"
              plain
              @click="create()"
            >Добавить сессию</el-button>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
            <el-pagination
              class="justify-content-end"
              :current-page="filters.pagination.page"
              :disabled="loading"
              :page-size="filters.pagination.limit"
              :total="total"
              background
              layout="total, prev, pager, next"
              @current-change="handleCurrentChange"
              @size-change="handleSizeChange"
            >
            </el-pagination>
          </div>
        </div>
      </div>
      <div
        v-loading.lock="loading"
        class="card-body"
      >
        <el-tabs type="card">

          <el-tab-pane label="Таблица">
            <div class="table-responsive">
              <table
                class="table table-responsive table-hover"
                aria-describedby="main"
              >
                <thead>
                  <tr class="sessions-table text-center text-nowrap">
                    <th
                      class="clickable"
                      width="10%"
                      @click="sorting('session_date')"
                    >
                      Дата сессии
                      <em
                        v-if="filters.sort.field === 'session_date'"
                        :class="{
                          'fas fa-sort-amount-down': !filters.sort.order,
                          'fas fa-sort-amount-up': filters.sort.order,
                        }"
                        class="pull-right fa"
                      ></em>
                    </th>
                    <th width="10%">Формат общения</th>
                    <th width="10%">Клиент</th>
                    <th width="8%">
                      Способ связи
                      <em
                        v-if="filters.sort.field === 'status'"
                        :class="{
                          'fas fa-sort-amount-down': !filters.sort.order,
                          'fas fa-sort-amount-up': filters.sort.order,
                        }"
                        class="pull-right fa"
                      ></em>
                    </th>
                    <th width="20%">Комментарий/План</th>
                    <th width="10%">Действия</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="search--field">
                      <el-date-picker
                        v-model="filters.fields.date_range"
                        type="daterange"
                        format="DD.MM.YYYY"
                        value-format="YYYY-MM-DD"
                        unlink-panels
                        start-placeholder="Искать с этой"
                        end-placeholder="По эту дату"
                        :picker-options="pickerOptions"
                        @change="getRecords()"
                      >
                      </el-date-picker>
                    </td>
                    <td class="search--field">
                      <el-select
                        v-model="filters.fields.meeting_type"
                        placeholder="Выберите формат"
                        :clearable="true"
                        @change="getRecords()"
                      >
                        <el-option
                          v-for="item in meeting_types"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id"
                        >
                        </el-option>
                      </el-select>
                    </td>
                    <td class="search--field">
                      <el-input
                        v-model="filters.fields.user_name"
                        placeholder="Введите имя"
                        clearable
                        @input="getRecords()"
                      >
                      </el-input>
                    </td>
                    <td class="search--field">
                      <el-select
                        v-model="filters.fields.connection_type"
                        placeholder="Выберите способ"
                        :clearable="true"
                        @change="getRecords()"
                      >
                        <el-option
                          v-for="item in connection_types"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id"
                        >
                        </el-option>
                      </el-select>
                    </td>
                    <td></td>
                    <td class="search--field">
                      <el-button
                        type="warning"
                        plain
                        class="w-100"
                        @click="clearFilters()"
                      >
                        Сбросить фильтры
                      </el-button>
                    </td>
                  </tr>
                </tbody>
                <tbody v-loading="filterLoading">
                  <tr
                    v-for="(session, index) in sessions"
                    :key="index"
                  >
                    <td
                      class="text-center"
                      v-text="session.session_date"
                    ></td>
                    <td>
                      <el-icon v-if="session.client.meeting_type">
                        <OfficeBuilding />
                      </el-icon>
                      <el-icon v-if="!session.client.meeting_type">
                        <Service />
                      </el-icon>
                    </td>
                    <td>
                      <el-link
                        type="primary"
                        target="_blank"
                        @click="showClientInfo(session.client)"
                      >
                        {{ session.client.name }}
                      </el-link>
                    </td>
                    <td>
                      <span>{{ session.client.connection_type_string }}</span>
                    </td>
                    <td
                      style="word-break:break-all;"
                      v-text="session.comment"
                    ></td>
                    <td class="actions">
                      <el-button
                        type="warning"
                        plain
                        icon="Edit"
                        @click="edit(session)"
                      >
                      </el-button>
                      <el-popconfirm
                        title="Точно?"
                        confirm-button-text="Да"
                        cancel-button-text="Нет"
                        @confirm="remove(session)"
                      >
                        <template #reference>
                          <el-button
                            type="danger"
                            plain
                            icon="Delete"
                            title="удалить"
                          >
                          </el-button>
                        </template>
                      </el-popconfirm>
                      <el-button
                        type="info"
                        plain
                        icon="Edit"
                        @click="calendar(session)"
                      >
                      </el-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </el-tab-pane>

          <el-tab-pane label="Календарь">
            <vue-cal
              class="vuecal--lightblue-theme"
              style="height: 90vh"
              :time-from="9 * 60"
              :time-to="22 * 60 + 15"
              :time-step="30"
              active-view="month"
              click-to-navigate
              :disable-views="['years', 'year']"
              locale="ru"
              :events="calendarSessions"
              events-on-month-view="short"
              :on-event-click="onEventClick"
            >
            </vue-cal>
            <el-dialog
              v-model="showCalendarEvent"
              :title="calendarItem.name"
            >
              <table
                class="table table-bordered"
                aria-describedby="calendar"
              >
                <thead class="hidden">
                  <tr>
                    <th></th>
                  </tr>
                </thead>
                <tr>
                  <td class="td-heading">Время начала</td>
                  <td
                    class="td-text"
                  >{{ calendarItem.session_time_start }}</td>
                </tr>
                <tr>
                  <td class="td-heading">Телефон</td>
                  <td class="td-text">{{ calendarItem.phone }}</td>
                </tr>
                <tr>
                  <td class="td-heading">Способ связи</td>
                  <td
                    class="td-text"
                    v-text="calendarItem.connection_type_string"
                  ></td>
                </tr>
                <tr>
                  <td class="td-heading text-truncate">Телефон или ссылка соц. сети</td>
                  <td
                    class="td-text"
                    v-text="calendarItem.connection_type_link"
                  ></td>
                </tr>
                <tr>
                  <td class="td-heading">Формат общения</td>
                  <td class="td-text">
                    <el-icon
                      v-if="calendarItem.meeting_type"
                      class="p-0"
                    >
                      <OfficeBuilding />
                    </el-icon>
                    <el-icon
                      v-if="!calendarItem.meeting_type"
                      class="p-0"
                    >
                      <Service />
                    </el-icon>
                  </td>
                </tr>
                <tr>
                  <td class="td-heading">Комментарий</td>
                  <td
                    class="td-text"
                    v-text="calendarItem.comment"
                  ></td>
                </tr>
              </table>
              <el-tooltip
                class="item"
                effect="dark"
                content="Удалить сессию"
                placement="right"
              >
                <el-button
                  type="danger"
                  icon="Delete"
                  circle
                  @click="remove(calendarItem)"
                ></el-button>
              </el-tooltip>
            </el-dialog>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
    <el-dialog v-model="showClientDetails">
      <user-details :client="client"></user-details>
    </el-dialog>
  </div>
</template>

<script>
import FilterSession from './models/FilterSession.js'
import UserFilterMixin from '@mixins/UserFilterMixin.js'
import UserDetails from '@partials/UserDetails.vue'
import { mapActions, mapGetters } from 'vuex'
import { sessionActions } from '@/components/_constants/actions'

export default {
  name: 'SessionIndex',
  components: { UserDetails },
  mixins: [UserFilterMixin],
  data() {
    return {
      sessionActions,
      filters: FilterSession,
      pickerOptions: {
        shortcuts: [{
          text: 'День',
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 22.91)
            picker.$emit('pick', [start, end])
          },
        }, {
          text: 'Неделя',
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', [start, end])
          },
        }, {
          text: 'Месяц',
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
            picker.$emit('pick', [start, end])
          },
        }, {
          text: '3 месяца',
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
            picker.$emit('pick', [start, end])
          },
        }],
      },
      moduleName: 'sessions',
      sessions: [],
      total: 0,
      calendarItem: {},
      showCalendarEvent: false,
      loading: true,
      saveSessionAlias: 'saveSessionAlias',
      filterLoading: false,
    }
  },

  computed: {
    showClientDetails: {
      get() {
        return this.$store.state.client.showClientDetails
      },
      set() {
        this.$store.commit('client/SET_DETAILS')
      },
    },

    ...mapGetters({
      calendarSessions: 'sessions/calendarSessions',
      meeting_types: 'staticData/meeting_types',
      connection_types: 'staticData/connection_types',
      client: 'client/client',
    }),

  },
  async created() {
    this.loading = true
    const response = await this.getUserFilters(this.moduleName)
    this.filters = Object.keys(response.filters).length > 0 ? response.filters : FilterSession

    if (this.calendarSessions.length <= 0) {
      await this.getCalendarSessions()
    }
    if (this.meeting_types.length <= 0) {
      await this.getMeetingTypes()
    }
    if (this.connection_types.length <= 0) {
      await this.getConnectionTypes()
    }
    await this.getRecords()
    this.loading = false
  },
  methods: {
    ...mapActions({
      getCalendarSessions: 'sessions/getCalendarSessions',
      getConnectionTypes: 'staticData/getConnectionTypes',
      getMeetingTypes: 'staticData/getMeetingTypes',
      showClientInfo: 'client/showClientInfo',
    }),

    async getRecords() {
      this.filterLoading = true
      try {
        await this.setUserFilters(this.moduleName, this.filters)
        const response = await this.$http.get(
          this.sessionActions.rest,
          { params: { options: this.filters } },
        )
        this.sessions = response.data.data.sessions
        this.total = response.data.data.total
        this.filterLoading = false
      } catch (e) {
        this.$message.error(e.response.data.message)
      }
    },

    onEventClick(event, e) {
      this.calendarItem = event
      this.showCalendarEvent = true
      e.stopPropagation()
    },
    async edit(model) {
      await this.$router.push({ name: `${this.moduleName}.update`, params: { id: model.id } })
    },
    async create() {
      await this.$router.push({ name: `${this.moduleName}.create` })
    },
    async calendar(session) {
      await this.$http.post(`${this.sessionActions.googleCalendar}/${session.id}/push`)
    },
    async remove(session) {
      this.loading = true
      this.errors = []
      try {
        const response = await this.$http.delete(`${this.sessionActions.rest}/${session.id}`)
        this.showCalendarEvent = false
        await this.getRecords()
        await this.getCalendarSessions()
        this.$message.success(response.data.message)
      } catch (e) {
        if (!e.response) {
          throw e
        }
        switch (e.response.status) {
          case 422:
            this.errors = e.response.data
            this.$message.error(this.errors.message)
            break
          default:
            this.$message.error('Server error')
        }
      } finally {
        this.loading = false
      }
    },
    async sorting(field) {
      this.loading = true
      this.filters.sort.field = field
      this.filters.sort.order = !this.filters.sort.order
      await this.getRecords()
    },
    async handleCurrentChange(page) {
      this.loading = true
      this.filters.pagination.page = page
      await this.getRecords()
    },
    async handleSizeChange(size) {
      this.filters.pagination.limit = size
      await this.getRecords()
    },
    async clearFilters() {
      this.filters = JSON.parse(JSON.stringify(FilterSession))
      await this.clearUserFilters(this.moduleName)
      await this.getRecords()
    },
  },
}
</script>

<style lang="scss">
.clickable {
  cursor: pointer;
}

.search--field {
  padding: 0px !important;
}

.page-link {
  color: #007bff !important;
}

.not-set {
  color: red;
}

.td-heading {
  width: 35%;
}

.td-text {
  width: 65%;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
  max-width: 260px !important;
}
.hidden {
  display: none;
}

@media (min-width: 1200px) {
  .table-responsive {
    display: table;
  }
}
</style>
