@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500&display=swap');
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
 }
