<template>
  <el-container>
    <router-view
      class="aside"
      name="aside"
    ></router-view>
    <el-container class="flex-column">
      <router-view name="header"></router-view>
      <el-main style="height:100%">
        <router-view></router-view>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>

export default {
  name: 'MainLayout',
  components: {
  },
}
</script>
