<script setup>
import rect from '../../landing/assets/img/young-woman-in-yellow-shirt-gardening-at-home.jpg'
import interfaceImg from '../../landing/assets/img/user-interface.png'
import noteImg from '../../landing/assets/img/note.png'
import shieldImg from '../../landing/assets/img/shield.png'
import schedule from '../../landing/assets/img/schedule.png'
import example from '../../landing/assets/img/example.png'
import example1 from '../../landing/assets/img/example1.png'
import example2 from '../../landing/assets/img/example2.png'
import example3 from '../../landing/assets/img/example3.png'
import example4 from '../../landing/assets/img/example4.png'
import { ref }  from 'vue'

const examples = ref([
  example,
  example1,
  example2,
  example3,
  example4,
])
// const advantages = [
//   'Система управления клиентами и расписаниями в одном месте',
//   'Простой и интуитивный интерфейс',
//   'Безопасное хранение данных клиентов',
//   'Удобный доступ к анамнезу клиента',
// ]
const advantages = [{
  title: 'Клиенты и расписание в одном месте',
  img: schedule,
}, {
  title: 'Простой и интуитивный интерфейс',
  img: interfaceImg,
}, {
  title: 'Безопасное хранение данных клиентов',
  img: shieldImg,
}, {
  title: 'Удобный доступ к анамнезу клиента',
  img: noteImg,
}]
// const subscriptionTypes = [
// {
//   type: 'Базовый',
//   price: '0',
//   description: 'Бесплатная подписка',
//   features: [
//     'До 10 клиентов',
//     '3 свои категории',
//     'Поддержка 24/7',
//     'За дополнительную плату',
//   ],
// },
// {
//   type: 'Стандарт',
//   price: '1500',
//   description: 'Базовая подписка',
//   features: [
//     'До 50 клиентов',
//     '10 своих категорий',
//     'Поддержка 24/7',
//     '1 месяц бесплатно',
//   ],
// },
// {
//   type: 'Премиум',
//   price: '3000',
//   description: 'Подписка для большой клиники',
//   features: [
//     'До 100 клиентов',
//     '20 своих категорий',
//     'Поддержка 24/7',
//     '1 месяц бесплатно',
//   ],
// },
// ]
const goToTelegram = () => {
  window.open('https://t.me/psych_manager')
}
const goToRegister = () => {
  window.open(`${window.location.href}panel/register`)
}
const previous = () => {
  const last = examples.value.pop()
  examples.value = [last].concat(examples.value)
}

// const next = () => {
//   const first = examples.value.shift()
//   examples.value = examples.value.concat(first)
// }
setInterval(previous, 5000)
</script>
<template>

  <div class="landing">
    <header class="fixed-top shadow-lg d-flex align-items-center justify-content-around">
      <div class="logo">
        <h3>Psych Manager</h3>
      </div>
      <button
        type="button"
        @click="goToRegister()"
      >Попробовать бесплатно</button>
      <button
        type="button"
        @click="goToTelegram()"
      >Узнать подробности</button>
    </header>
    <section class="d-flex align-items-center">
      <!-- содержимое первой секции -->
      <div class="d-flex w-100 justify-content-between align-items-center section-one">
        <div class="text-center mx-auto">
          <h1 class="h1">CRM для психологов</h1>
          <h1 class="mt-5 section-one__title-secondary">Удобный и надежный инструмент <br> для управления клиентами и расписанием</h1>
        </div>
        <div class="align-self-end">
          <img
            style="height: 500px"
            class="landing-img mx-auto"
            :src="rect"
            alt="IMAGE"
          >
        </div>
      </div>
    </section>

    <section class="carousel-section d-flex align-items-center flex-nowrap justify-content-center flex-column">
      <transition-group
        class="carousel rounded-5"
        tag="div"
        name="list"
      >
        <img
          v-for="slide in examples"
          :key="slide"
          style="width: 240px;"
          class="slide"
          :src="slide"
          alt="IMAGE"
        />
      </transition-group>
      <!--      <div class="carousel-controls d-flex gap-2">-->
      <!--        <button-->
      <!--          type="button"-->
      <!--          class="carousel-controls__button"-->
      <!--          @click="previous"-->
      <!--        >&#60;</button>-->
      <!--        <button-->
      <!--          type="button"-->
      <!--          class="carousel-controls__button"-->
      <!--          @click="next"-->
      <!--        >&#62;</button>-->
      <!--      </div>-->
    </section>
    <section class="d-flex align-items-center justify-content-center mx-auto">
      <div class="d-flex w-100 h-100 justify-content-around align-items-center">
        <div class="text-center d-flex h-100 flex-column gap-5 justify-content-center">
          <div><h1 class="h1">Наши преимущества</h1></div>
          <div class="my-5 d-flex gap-4 section-two">
            <div
              v-for="(advantage, index) in advantages"
              :key="index"
              style="width: 300px"
              class="mx-auto rounded-5 bg-light m-4 p-4 shadow-lg advantages"
            ><div class="d-flex flex-column align-items-center justify-content-center gap-4">
              <h5 class="advantage">{{ advantage.title }}</h5>
              <img
                width="144"
                :src="advantage.img"
                alt="interface"
              >
            </div></div>
          </div>
        </div>
      </div>
    </section>
    <!--    <section class="d-flex align-items-center ">-->
    <!--<div class="d-flex
     w-100 justify-content-around align-items-center
     rounded-5 bg-light mx-5 py-5 section-three">-->
    <!--        <div class="text-center d-flex flex-column gap-3">-->
    <!--          <h1 class="h1">Выберите план подписки</h1>-->
    <!--          <div class="my-5 d-flex gap-4 align-items-center">-->
    <!--            <div>-->
    <!--              <div class="d-flex gap-4 subscribe-wrapper">-->
    <!--           <div class="d-flex justify-content-start align-content-start
    text-start flex-column p-4 gap-4 subscribe-options">-->
    <!--                  <h3>Вариант подписки</h3>-->
    <!--                  <h4>Клиентов</h4>-->
    <!--                  <h4>Категорий</h4>-->
    <!--                  <h4>Тех. поддержка</h4>-->
    <!--                  <h4>Уведомления в google calendar</h4>-->
    <!--                </div>-->
    <!--                <div-->
    <!--                  v-for="item in subscriptionTypes"-->
    <!--                  :key="item.type"-->
    <!--             class="d-flex align-content-stretch w-25 flex-column gap-4 subscribe-plan"-->
    <!--                >-->
    <!--                  <div class="d-flex h-100 flex-column gap-4 p-4 sub-card rounded-5">-->
    <!--                    <h3 class="text-black-50">{{ item.type }}</h3>-->
    <!--                    <h4-->
    <!--                      v-for="feature in item.features"-->
    <!--                      :key="feature"-->
    <!--                    >{{ feature }}</h4>-->
    <!--                  </div>-->
    <!--                  <h4 class="mt-4 text-black-50">{{ item.price }}₽ / мес.</h4>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </section>-->
    <section class="d-flex align-items-center ">
      <div class="d-flex w-100 justify-content-around align-items-center rounded-5 bg-light mx-5 py-5 section-three">
        <div class="text-center d-flex flex-column gap-3">
          <h1 class="h1 try-now">Попробовать бесплатно</h1>
          <div class="try-now_desc my-5 d-flex flex-wrap justify-content-center gap-4 align-items-center">
            <p style="max-width: 300px"> Мы предлагаем вам уникальную возможность испытать все преимущества
              нашего инструмента абсолютно бесплатно. </p>
            <p
              style="max-width: 500px;"
            >
              Управление клиентами, записями и расписанием никогда не было
              таким простым. Наша CRM система специально разработана
              для психологов, чтобы помочь вам организовать
              вашу практику и сосредоточиться на самом главном
              - оказании качественных услуг своим клиентам.</p>
          </div>
          <div class="my-5 d-flex gap-4 align-items-center">

            <ul
              style="max-width: 800px;"
              class="d-flex gap-4 flex-column p-4"
            >
              <h3 class="mb-4">
                Что вы получите, присоединившись к нам:
              </h3>
              <li>Централизованное хранение данных клиентов: Все информация о ваших клиентах будет доступна в одном месте. Вы сможете легко добавлять, обновлять и просматривать данные, а также вести записи о сессиях и прогрессе клиентов.
              </li>
              <li>Удобное расписание: Больше не нужно запутываться в расписании и непонятных записях. Наша CRM система позволяет вам легко создавать и управлять расписанием встреч с клиентами, отправлять им уведомления и получать подтверждения.
              </li>
              <li>              Безопасность данных: Мы понимаем, что данные важны для вашей практики. Поэтому мы обеспечиваем высокий уровень защиты и конфиденциальности данных, чтобы вы могли быть уверены в их сохранности.
              </li>
              <li>Не упустите возможность улучшить свою практику и оптимизировать свою работу. Попробуйте нашу CRM систему бесплатно и убедитесь сами, как она может помочь вам стать более успешным и эффективным психологом.
              </li>
              <li>Зарегистрируйтесь сейчас и начните свой бесплатный пробный период уже сегодня!
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style scoped>
@import "landing.css";
body,html {
    color: #f2f2f2;
}
.example-img {
    transition: all 0.2s ease-in-out;
}
.example-img:hover {
    transform: scale(1.4);
}
.landing-img {
    border-radius: 45px 0 0 45px;
    /* стили для всего лендинга */
}
.advantages {
    transition: all 0.2s ease-in-out;
}
.advantages:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.25);
}
.landing {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
}
.h1 {
    font-size: 54px;
}
.landing section {
    color: #8D9CF2;
    min-height: 100vh;
}
.advantage {
    color: #4b545c;
}
.section-one__title-secondary {
    color: #f2f2f2;
}
section {
    padding-top: 80px;
    scroll-snap-align: start;

    overflow-x: hidden !important;
}
header {
    background-color: #f2f2f2;
    /* модный синий цвет */
    height: 80px;
}
.sub-card {
    border: 1px solid #9BDAF2;
    cursor: pointer;
}
.sub-card:hover {
    border: 1px solid #8D9CF2;
    color: #787aee;
}
section:nth-child(even) {
    background-color: #9BDAF2;
    /* модный синий цвет */
}
section:nth-child(odd) {
    background-color: #F2F2F2;
    /* белый цвет */
}
/* CSS */
button {
    color: #f2f2f2;
    align-items: center;
    background-color: #8D9CF2;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 14px 21px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
button:hover {
    background-color: #787aee;
}
.carousel {
    //transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    //transition: all 1s ease-out;
    border-radius: 25px;

}
.carousel-controls__button {
    margin-top: 10px;
    cursor: pointer;
    background: #787aee;
    border: 0;
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 18px;
}
@media (max-width: 1366px) {
    header {
        height: 40px !important;
    }
    header button {
        text-decoration: underline !important;
        color: black !important;
        background: transparent !important;
        padding: 6px !important;
    }
    .subscribe-options {
        gap: 0px !important;
        display: none !important;
    }
    .subscribe-plan {
margin: 0 auto;
        width: 40% !important;
    }
    .subscribe-wrapper {
        gap: 20px !important;
        flex-wrap: wrap;
    }
    section {
        padding-top: 0;
    }
    .section-one {
        flex-direction: column;
        gap: 20px;
    }
    .section-two {
        flex-wrap: wrap;
    }
    .section-three {
        margin-top: 120px !important;
    }
    .advantages {
        flex-wrap: wrap;
    }
    .slide {
        width: 19vw !important;
        object-fit: scale-down;
    }
}
@media (max-width: 700px) {
    .subscribe-plan {
        margin: 5px auto;
        padding: 15px;
        width: 100% !important;
    }

    .carousel-section {
      display: none !important;
    }
}
@media (max-width: 500px) {
  .try-now, .try-now_desc, .logo {
      display: none !important;
    }
    .section-three {
        padding: 0 !important;
        margin: 0 !important;
    }
   .landing-img {
       display: none !important;
   }
    .landing {
        height: auto !important;
        scroll-behavior: auto;
        scroll-snap-type: none;
    }
    h1, .h1 {
        font-size: 3rem !important;
    }
    .subscribe-plan {
        margin: 5px auto;
        padding: 15px;
        width: 100% !important;
    }
    section {
        min-height: 100vh !important;
        height: auto !important;
    }
}
.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
    position: absolute;
}
</style>
