<script setup>
import { googleTokenLogin } from 'vue3-google-login'

const login = () => {
  googleTokenLogin().then((response) => {
    console.log('Handle the response', response)
  })
}
</script>

<template>
  <div>
    <el-button @click="login">Login Using Google</el-button>
  </div>
</template>
