<template>
  <div
    v-loading.fullscreen.lock="loading"

    class="login"
  >
    <el-card
      v-loading.fullscreen.lock="loading"
      class="text-center"
    >
      <logo class="mx-auto w-75"></logo>

      <h2>Psych manager</h2>
      <el-form
        v-if="!showVerificationCodeInput"
        ref="loginForm"
        v-loading.fullscreen.lock="loading"
        class="login-form"
        :model="loginForm"
        :rules="rules"
        @submit.prevent="auth()"
      >
        <el-form-item
          prop="name"
          class="form-group"
          required
        >
          <el-input
            v-model="loginForm.name"
            placeholder="Имя"
            type="text"
          ></el-input>
        </el-form-item>
        <!--        <el-form-item-->
        <!--          prop="email"-->
        <!--          class="form-group"-->
        <!--        >-->
        <!--          <el-input-->
        <!--            v-model="loginForm.email"-->
        <!--            placeholder="Email"-->
        <!--            type="email"-->
        <!--          ></el-input>-->
        <!--        </el-form-item>-->
        <el-form-item
          required
          prop="phone"
          class="form-group"
        >
          <el-input
            v-model="loginForm.phone"
            v-maska
            data-maska="['+7 (###) ###-##-##']"
            placeholder="Телефон"
            type="tel"
          ></el-input>
        </el-form-item>
        <!--        <el-form-item>-->
        <!--          <el-button-->
        <!--            v-loading.fullscreen.lock="loading"-->
        <!--            class="login-button"-->
        <!--            type="success"-->
        <!--            @click="handlePhoneVerification"-->
        <!--          >Подтвердить номер-->
        <!--          </el-button>-->
        <!--        </el-form-item>-->
        <!--        <el-form-item prop="password">-->
        <!--          <el-input-->
        <!--            v-model="loginForm.password"-->
        <!--            placeholder="Пароль"-->
        <!--            type="password"-->
        <!--            prefix-icon="Lock"-->
        <!--          ></el-input>-->
        <!--        </el-form-item>-->
        <!--        <el-form-item prop="password_confirmation">-->
        <!--          <el-input-->
        <!--            v-model="loginForm.password_confirmation"-->
        <!--            placeholder="Повторите пароль"-->
        <!--            autocomplete="off"-->
        <!--            type="password"-->
        <!--            prefix-icon="Lock"-->
        <!--          ></el-input>-->
        <!--        </el-form-item>-->
        <el-form-item>
          <el-button
            class="login-button"
            native-type="submit"
            type="primary"
          >Зарегистрироваться
          </el-button>
        </el-form-item>
      </el-form>
      <el-form
        v-else-if="showVerificationCodeInput"
        v-loading.fullscreen.lock="loading"
      >
        <el-form-item
          class="form-group"
        >
          <div
            class="d-flex flex-row flex-nowrap gap-4"
          >
            <el-input
              v-for="(item, index) in confirmationInputsDynamic"
              :key="item"
              :ref="`confirmCodeInput${index}`"
              v-model="item.code"
              maxlength="1"
              minlength="1"
              :disabled="isInputDisabled(index)"

              @input="focusNextInput(index)"
            ></el-input>
          </div>
        </el-form-item>
        <el-form-item>
          <el-button
            class="login-button"
            type="primary"
            @click="changeFormInputs()"
          >Изменить данные
          </el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { vMaska } from 'maska'
import Logo from '@//components/auth/logo.vue'
// import { codeInputs } from '@//components/_constants/codeInputs'

export default {
  name: 'MainLogin',
  components: { Logo },
  directives: { maska: vMaska },
  data() {
    return {
      actions: {
        auth: '/api/v1/auth',
        login: '/api/v1/login',
      },
      confirmationInputsDynamic: [{ code: '' }, { code: '' }, { code: '' }, { code: '' }, { code: '' }, { code: '' }],
      // codeInputs,
      loginForm: {
        name: '',
        email: '',
        phone: '',
        password: '',
        password_confirmation: '',
        grant_type: 'password',
      },
      loading: false,
      showVerificationCodeInput: false,
      rules: {
        name: [this.$rules.required, this.$rules.name],
        phone: [this.$rules.required, this.$rules.phone],
        // email: [this.$rules.email],
        // password: [
        //   {
        //     validator: validatePass,
        //     trigger: 'submit',
        //   },
        // ],
        // password_confirmation: [{ validator: validatePass2, trigger: 'blur' }],
      },
    }
  },
  computed: {

    allInputsFilled() {
      return this.confirmationInputsDynamic.every((input) => input.code !== '')
    },

    isInputDisabled() {
      return (index) => {
        if (index === 0) {
          return false // Первый инпут всегда активен
        }
        const previousInput = this.confirmationInputsDynamic[index - 1]
        return !previousInput.code // Инпут отключен, если предыдущий инпут не заполнен
      }
    },
  },
  watch: {
    allInputsFilled(newValue) {
      if (newValue) {
        this.handleAllInputsFilled()
      }
    },
  },
  methods: {
    focusNextInput(index) {
      if (index >= 0 && index < this.confirmationInputsDynamic.length) {
        if (this.confirmationInputsDynamic[index].code.length === 0) {
          const previousInput = this.$refs[`confirmCodeInput${index - 1}`]
          if (previousInput && previousInput.length > 0) {
            previousInput[0].focus()
          }
        }

        const nextInput = this.$refs[`confirmCodeInput${index + 1}`]
        if (nextInput && nextInput.length > 0) {
          nextInput[0].focus()
        }
      }
    },

    changeFormInputs() {
      this.showVerificationCodeInput = false
      this.confirmationInputsDynamic.forEach((input) => {
        input.code = ''
      })
    },

    // async auth() {
    //   await this.$refs.loginForm.validate((valid) => {
    //     if (valid) {
    //       this.identityLogin()
    //     } else {
    //       this.$message.error('Неправильные данные')
    //     }
    //   })
    // },
    // async identityLogin() {
    //   this.loading = true
    //   try {
    //     const response = await this.$http.post(this.actions.auth, this.loginForm)
    //     localStorage.setItem('accessToken', response.data.access_token)
    //     window.$identity.isGuest = false
    //     const redirect = await this.$route.query.redirect ? this.$route.query.redirect : '/'
    //     await this.$router.push(redirect)
    //     this.$message.success('Success')
    //     this.loading = false
    //   } catch (e) {
    //     if (!e.response) {
    //       throw e
    //     }
    //     switch (e.response.status) {
    //       case 422:
    //         this.$message.error(e.response.data.message)
    //         break
    //       default:
    //         this.$message.error(e.response.data.message)
    //     }
    //   } finally {
    //     this.loading = false
    //   }
    // },
    resetForm() {
      this.$refs.loginForm.resetFields()
    },

    async auth() {
      await this.$refs.loginForm.validate((valid) => {
        if (valid) {
          this.handlePhoneVerification()
        } else {
          this.$message.error('Неправильные данные')
        }
      })
    },
    async handlePhoneVerification() {
      this.loading = true
      try {
        const response = await this.$http.post(this.actions.auth, {
          phone: this.loginForm.phone,
          name: this.loginForm.name,
        })
        this.showVerificationCodeInput = true
        this.$message.success('На данный номер отправлено смс с кодом подтверждения')
      } catch (e) {
        this.$message.error(e.response.data.message)
      } finally {
        this.loading = false

        // this.showVerificationCodeInput = true
      }
    },
    async handleAllInputsFilled() {
      this.loading = true
      try {
        const response = await this.$http.post(this.actions.login, {
          code: this.confirmationInputsDynamic.map((input) => input.code).join(''),
          phone: this.loginForm.phone,
          type: 0,
        })
        if (!response.data.access_token) return this.$router.push('/')
        localStorage.setItem('accessToken', response.data.access_token)
        window.$identity.isGuest = false
        await this.$router.push('/')
        this.loading = false
        this.$message.success(response.data.message)
      } catch (e) {
        this.$message.error(e.response.data.message)
      } finally {
        this.loading = false
      }
    },

  },
}

</script>
<style lang="scss" scoped>
.login {
  height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .el-input__prefix {
  height: calc(100% - 2px);
  border-radius: 3px;

  .el-input__icon {
    width: 30px;
  }
}

.login-button {
  width: 100%;
  margin-top: 20px;
}

h2 {
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.login-form {
  width: 290px;
}

.login .el-card {
  width: 340px;
  display: flex;
  justify-content: center;
}

.el-input__wrapper {
  padding: 1px 1px !important;
}

</style>
