<template>
  <div class="login">
    <el-card class="text-center">
      <logo class="mx-auto w-75"></logo>
      <h2>Email подтвержден</h2>
      <el-button @click="$router.push('/login')">Перейти на страницу логина</el-button>

    </el-card>
  </div>
</template>

<script>
import Logo from '@//components/auth/logo.vue'

export default {
  name: 'MainLogin',
  components: { Logo },
  data() {
    const validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please input the password'))
      } else if (value.length < 6) {
        callback(new Error('Password length should more then 5 characters'))
      } else {
        callback()
      }
    }
    return {
      actions: {
        confirm: '/api/v1/verify-email',
      },
      loading: false,
    }
  },
  created() {
    this.confirmEmail()
    console.log(this.$route.params.hash)
  },
  methods: {
    async confirmEmail() {
      this.loading = true
      try {
        const response = await this.$http.post(this.actions.confirm, { hash: this.$route.params.hash })
      } catch (e) {
        if (!e.response) {
          throw e
        }
        switch (e.response.status) {
          case 422:
            this.$message.error(e.response.data.message)
            break
          default:
            this.$message.error(e.response.data.message)
        }
      } finally {
        this.loading = false
      }
    },
  },
}

</script>
<style lang="scss" scoped>
.login {
  height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .el-input__prefix {
  height: calc(100% - 2px);
  border-radius: 3px;

  .el-input__icon {
    width: 30px;
  }
}

.login-button {
  width: 100%;
  margin-top: 20px;
}

h2 {
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.login-form {
  width: 290px;
}

.login .el-card {
  width: 340px;
  display: flex;
  justify-content: center;
}

.el-input__wrapper {
  padding: 1px 1px !important;
}

</style>
