.vuecal--lightblue-theme {
  .vuecal__menu, .vuecal__cell-events-count {background-color: var(--el-color-primary-light-8); color: #666}
  .vuecal__view-btn--active {background-color: transparent; color: var(--el-color-primary);}
  .vuecal__title-bar {background-color: var(--el-color-primary-light-9); color: #666;}
  .vuecal__title button { color: #666;}
  .vuecal__cell--today, .vuecal__cell--current {background-color: transparent;}
  .vuecal:not(.vuecal--day-view) .vuecal__cell--selected {background-color: transparent;}
  .vuecal__cell--selected:before {border: 1px solid var(--el-color-primary); border-radius: 5px}
  .vuecal__cell--selected { background-color: transparent; }
  .vuecal__cell--content { justify-content: space-around; }
  /* Cells and buttons get highlighted when an event is dragged over it. */
  .vuecal__cell--highlighted:not(.vuecal__cell--has-splits),
  .vuecal__cell-split--highlighted {background-color: var(--el-color-primary-light-9);}
  .vuecal__arrow { color: #666;}
  .vuecal__arrow.vuecal__arrow--highlighted,
  .vuecal__view-btn.vuecal__view-btn--highlighted {background-color: white;}
  .vuecal__event {background-color: white; width: 95%; margin: 1px auto; border: 1px solid var(--el-color-primary-light-7); border-radius: 5px}
  .vuecal__cell-events {margin: auto;}
  .vuecal__event-title:hover {background-color: var(--el-color-primary-light-9); border-radius: 5px;}
  .vuecal__event-title {text-align: center;}
}
