<template>
  <div class="card">
    <div class="card-body">
      <legend>Сессии</legend>
      <el-table
        :data="client.sessions"
        border
      >
        <el-table-column
          prop="session_date"
          label="Дата сессии"
        >
          <template #default="scope">
            <el-link
              type="primary"
              target="_blank"
              :underline="false"
              @click="edit(client)"
            >
              {{ scope.row.session_date }}
            </el-link>
          </template>
        </el-table-column>
        <el-table-column
          prop="comment"
          label="Комментарий к сессии"
        >
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>

export default {
  name: 'ClientSessions',
  props: {
    client: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      actions: {
        rest: 'api/v1/sessions',
      },
      errors: [],
    }
  },
  methods: {

    async edit(model) {
      await this.$router.push({ name: 'sessions.update', params: { id: model.id } })
    },
  },
}
</script>

<style scoped>

</style>
