<template>
  <div class="row">
    <div class="col-12">
      <el-checkbox v-model="value.name">Имя</el-checkbox>
    </div>
    <div class="col-12">
      <el-checkbox v-model="value.category">Категория</el-checkbox>
    </div>
    <div class="col-12">
      <el-checkbox v-model="value.phone">Телефон</el-checkbox>
    </div>
    <div class="col-12">
      <el-checkbox v-model="value.email">Email</el-checkbox>
    </div>
    <div class="col-12">
      <el-checkbox v-model="value.connection_type">Тип связи</el-checkbox>
    </div>
    <div class="col-12">
      <el-checkbox v-model="value.meeting_type">Формат общения</el-checkbox>
    </div>
    <div class="col-12">
      <el-checkbox v-model="value.session_date">Дата сессии</el-checkbox>
    </div>
  </div>
</template>
<script>
export default {
  name: 'VisibleFieldDialog',
  props: {
    fields: {
      type: Object,
      required: true,
      default: () => {},
    },
  },
  data() {
    return {
      value: {},
    }
  },
  watch: {
    fields: {
      handler(v) {
        this.value = v
      },
    },
    value: {
      handler(v) {
        return v
      },
    },
  },
  created() {
    this.value = this.fields
  },
}
</script>

<style scoped>

</style>
