<template lang="pug">
div
  div.container-fluid
    h1 Панель управления
  div.content
    div.content-fluid
      p Добро пожаловать
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'MainPage',
  computed: {
    ...mapGetters({
      categories: 'staticData/categories',
      connection_types: 'staticData/connection_types',
      meeting_types: 'staticData/meeting_types',
      session_clients: 'sessions/clients',
    }),
  },
  async created() {
    await this.getCategories()
    await this.getConnectionTypes()
    await this.getMeetingTypes()
    await this.getClients()
  },
  methods: {
    ...mapActions({
      getCategories: 'staticData/getCategories',
      getConnectionTypes: 'staticData/getConnectionTypes',
      getMeetingTypes: 'staticData/getMeetingTypes',
      getClients: 'sessions/getClients',
    }),
  },
}
</script>

<style scoped>

</style>
