<template>
  <div class="col-12">
    <div class="row mb-3">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-xl-6  col-md-6 col-sm-6 col-xs-12 text-left">
                <el-button
                  type="warning"
                  @click="backToIndex()"
                >
                  <i class="ArrowLeft"></i>
                  Назад
                </el-button>
                <el-button
                  type="success"
                  :disabled="loading"
                  @click="validate()"
                >
                  <em class="CircleCheck"></em>
                  Сохранить
                </el-button>
              </div>
              <div
                v-if="client.sessions.length > 0"
                class="col-xl-6  col-md-6 col-sm-6 col-xs-12 text-right"
              >
                <el-button
                  type="info"
                  @click="showClientSessions = true"
                >
                  <i class="el-icon-data-analysis"></i>
                  Сессии клиента
                </el-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <el-form
      ref="client"
      v-loading="loading"
      :model="client"
      :rules="rules"
      class="row"
      :label-position="'top'"
      :hide-required-asterisk="false"
      :require-asterisk-position="'right'"
    >
      <div class="col-xl-5 col-lg-6 col-md-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h4>Основная информация</h4>

            <el-form-item
              label="Имя"
              prop="name"
              class="form-group"
            >
              <el-input
                v-model="client.name"
                placeholder="Имя"
                clearable
              ></el-input>
            </el-form-item>
            <div class="form-group row">
              <el-form-item
                label="Email"
                class="col-6"
                prop="email"
              >
                <el-input
                  v-model="client.email"
                  type="email"
                  placeholder="Email"
                  clearable
                ></el-input>
              </el-form-item>
              <el-form-item
                prop="phone"
                label="Телефон"
                class="col-6"
              >
                <el-input
                  v-model="client.phone"
                  v-maska="['+7 (###) ##-##-##', '+7 (###) ###-##-##']"
                  placeholder="+7"
                  clearable
                ></el-input>
              </el-form-item>
            </div>
            <el-form-item
              label="Дата рождения"
              class="form-group row"
            >
              <el-date-picker
                v-model="client.birthday_date"
                style="width: 100%!important; max-width: 100%!important;"
                type="date"
                placeholder="Выберите день"
                format="DD-MM-YYYY"
                value-format="YYYY-MM-DD"
                clearable
                :shortcuts="shortcuts"
              >
              </el-date-picker>
            </el-form-item>

            <el-divider></el-divider>

            <div class="form-group row mb-2">
              <el-form-item
                prop="connection_type_id"
                class="col-6"
                label="Способ связи"
                required
              >
                <el-select
                  v-model="client.connection_type_id"
                  placeholder="Способ связи"
                  clearable
                  @change="resolveConnectionTypes()"
                >
                  <el-option
                    v-for="item in connection_types"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item
                label="Пол"
                class="col-6"
              >
                <el-select
                  v-model="client.gender"
                  placeholder="Пол"
                  clearable
                >
                  <el-option
                    v-for="item in gender_list"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
            <el-form-item
              prop="connection_type_link"
              class="form-group mb-2"
              required
            >
              <el-input
                v-model="client.connection_type_link"
                placeholder="Телефон или ссылка социальной сети"
                clearable
              >
              </el-input>
            </el-form-item>
            <el-form-item
              prop="curator_contacts"
              class="form-group mb-2"
              style="margin-top: 30px"
            >
              <el-input
                v-model="client.curator_contacts"
                placeholder="Контакты опекуна"

                clearable
              >
              </el-input>
            </el-form-item>

            <el-divider></el-divider>

            <el-form-item
              label="Формат общения"
              class="form-group"
            >
              <el-select
                v-model="client.meeting_type"
                class="w-100"
                clearable
              >
                <el-option
                  v-for="item in meeting_types"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
            <!-- TODO: если постоянная ссылка для онлайн общения, подумать, нужна ли она -->
            <el-form-item
              class="form-group"
              prop="category_id"
              label="Категория"
              required
            >
              <el-select
                v-model="client.category_id"
                class="w-100"
                clearable
              >
                <el-option
                  v-for="category in user.categories"
                  :key="category.id"
                  :label="category.name"
                  :value="category.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </div>
        </div>
      </div>

      <div class="col-xl-5 col-lg-6 col-md-12 mb-3">
        <div class="card card-textarea">
          <div class="card-body">
            <legend>О терапии</legend>

            <el-form-item
              label="Запрос клиента"
              class="form-group"
            >
              <el-input
                v-model="client.therapy.request"
                placeholder=""
                type="textarea"
                resize="none"
                :rows="2"
              >
              </el-input>
            </el-form-item>
            <el-form-item
              label="Степень тяжести клиента"
              class="form-group row"
            >
              <div class="col-12">
                <el-select
                  v-model="client.therapy.problem_severity"
                  placeholder="Тяжесть"
                  clearable
                >
                  <el-option
                    v-for="item in problem_severity"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </div>
            </el-form-item>

            <el-form-item
              label="План на терапию"
              class="form-group"
            >
              <el-input
                v-model="client.therapy.plan"
                placeholder=""
                type="textarea"
                resize="none"
                :rows="4"
              >
              </el-input>
            </el-form-item>

            <el-form-item
              label="Моя концептуализация"
              class="form-group"
            >
              <el-input
                v-model="client.therapy.concept_vision"
                placeholder=""
                type="textarea"
                resize="none"
                :rows="8"
              >
              </el-input>
            </el-form-item>
          </div>
        </div>
      </div>

      <div class="col-xl-5 col-lg-6 col-md-12 mb-3">
        <div class="card card-textarea">
          <div class="card-body">
            <h4>Заметки</h4>

            <div class="form-group">
              <el-input
                v-model="client.therapy.notes"
                placeholder=""
                type="textarea"
                resize="none"
                :rows="8"
              >
              </el-input>
            </div>
          </div>
        </div>
      </div>

      <el-drawer
        v-model="showClientSessions"
        direction="rtl"
        size="50%"
      >
        <sessions :client="client"></sessions>
      </el-drawer>
    </el-form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Client from './models/Client'
import Sessions from '@partials/ClientSessions.vue'
import { vMaska } from 'maska'
import { phoneRegex } from '@/components/_constants/rules'

export default {
  name: 'ClientForm',
  directives: { maska: vMaska },
  components: {
    Sessions,
  },
  data() {
    return {
      phoneRegex,
      shortcuts: [{
        text: 'День',
        onClick(picker) {
          const end = new Date()
          const start = new Date()
          start.setTime(start.getTime() - 3600 * 1000 * 22.91)
          picker.$emit('pick', [start, end])
        },
      }, {
        text: 'Неделя',
        onClick(picker) {
          const end = new Date()
          const start = new Date()
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
          picker.$emit('pick', [start, end])
        },
      }, {
        text: 'Месяц',
        onClick(picker) {
          const end = new Date()
          const start = new Date()
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
          picker.$emit('pick', [start, end])
        },
      }, {
        text: '3 месяца',
        onClick(picker) {
          const end = new Date()
          const start = new Date()
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
          picker.$emit('pick', [start, end])
        },
      }],
      actions: {
        rest: '/api/v1/clients',
        // getProblems: '/api/v1/problems',

        getCategories: '/api/v1/static-data/categories',
        getConnectionTypes: '/api/v1/static-data/connection-types',
        getGenderList: '/api/v1/static-data/gender-list',
        getMeetingTypes: '/api/v1/static-data/meeting-types',
      },
      client: JSON.parse(JSON.stringify(Client)),
      connection_types: [],
      meeting_types: [],
      gender_list: [],
      categories: [],
      errors: [],
      problem_severity: [
        { id: 1, name: 1 },
        { id: 2, name: 2 },
        { id: 3, name: 3 },
        { id: 4, name: 4 },
        { id: 5, name: 5 },
      ],
      showClientSessions: false,
      isRouterUpdate: false,
      loading: true,
      rules: {
        name: [this.$rules.required, this.$rules.name],
        category_id: [this.$rules.required],
        connection_type_link: [this.$rules.required],
        connection_type_id: [this.$rules.required],
        email: [{
          required: true,
          message: 'Поле обязательно для заполнения',
          trigger: 'blur',
        }, this.$rules.email],
        phone: [{
          required: true,
          message: 'Поле обязательно для заполнения',
          trigger: 'blur',
        }, this.$rules.phone],
      },
    }
  },
  computed: {
    ...mapGetters({
      user: 'user/user',
    }),
  },
  watch: {
    'client.phone': function (v) {
      this.rules.email.find((item) => item).required = !this.phoneRegex.test(v)
    },
    'client.email': function (v) {
      if (this.client.phone && this.client.phone.length < 9) {
        this.client.phone = ''
      }
      this.rules.phone.find((item) => item).required = !v
    },
  },
  created() {
    this.init()
  },
  methods: {
    async init() {
      if (this.$route.params.id) {
        this.isRouterUpdate = true
        await this.getUser(this.$route.params.id)
      }
      await this.getConnectionTypes()
      await this.getMeetingTypes()
      await this.getGenderList()
      await this.getCategories()
      this.loading = false
    },
    async getUser(id) {
      try {
        const response = await this.$http.get(`${this.actions.rest}/${id}`)
        this.client = response.data.data.client
      } catch (e) {
        this.$message.error('Error')
      }
    },

    async getConnectionTypes() {
      const response = await this.$http.get(this.actions.getConnectionTypes)
      this.connection_types = response.data.data.connection_types
    },
    async getMeetingTypes() {
      const response = await this.$http.get(this.actions.getMeetingTypes)
      this.meeting_types = response.data.data.meeting_types
    },
    async getGenderList() {
      const response = await this.$http.get(this.actions.getGenderList)
      this.gender_list = response.data.data.gender_list
    },
    // async getProblems() {
    //   let response = await this.$http.get(this.actions.getProblems)
    //   this.problems = response.data.data.problems
    // },
    async getCategories() {
      const response = await this.$http.get(`${this.actions.getCategories}`)
      this.categories = response.data.data.categories
    },
    async validate() {
      await this.$refs.client.validate((valid) => {
        if (valid) {
          this.save()
        } else {
          this.$message.error('Заполните все необходимые поля')
        }
      })
    },
    async save() {
      this.errors = []
      this.loading = true
      try {
        let response
        if (this.client.id) {
          response = await this.$http.put(`${this.actions.rest}/${this.client.id}`, this.client)
        } else {
          response = await this.$http.post(this.actions.rest, this.client)
        }
        this.$message.success(response.data.message)
        await this.$router.push({ name: 'clients' })
      } catch (e) {
        if (!e.response) {
          throw e
        }
        this.errors = e.response.data.errors
        switch (e.response.status) {
          case 422:
            Object.values(this.errors).forEach((message) => this.$message.error(message))
            break
          default:
            this.$message.error('Server error')
        }
        setTimeout(() => {
          this.errors = []
        }, 5000)
      }
      this.loading = false
    },
    resolveConnectionTypes() {
      switch (this.client.connection_type_id) {
        case 1:
          this.client.connection_type_link = this.client.phone
          break
        case 2:
          this.client.connection_type_link = this.client.email
          break
        default:
          this.client.connection_type_link = ''
      }
    },
    backToIndex() {
      this.$router.push({ name: 'clients' })
    },
  },
}
</script>

<style scoped>
.error-desc {
  color: var(--el-color-danger)
}
.text-right{
  text-align: right;
}
.contents-inner {
  min-height: 95vh;
  padding: 15px 45px 30px 45px;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 100%;
}
.text-span {
  font: 400 13.3333px Arial;
}
.el-input__icon:after {
  height: 0;
}
.w-50.el-input--mini > .el-input__inner {
  width: 50%;
}
.el-select {
  width: 100%;
}
/*@media (max-width: 768px) {*/
/*  .card-textarea {*/
/*    max-height: 330px;*/
/*  }*/
/*}*/
</style>
