<template>
  <div class="col-12 ">
    <div class="card shadow-lg">
      <!-- Main container header -->
      <div class="card-header">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <el-button
              type="primary"
              plain
              @click="create()"
            >
              Добавить клиента
            </el-button>
            <el-button
              type="info"
              plain
              @click="fieldsDialogIsVisible = true"
            >
              Видимые поля
            </el-button>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <el-pagination
              class="justify-content-end"
              :current-page="filters.pagination.page"
              :disabled="loading"
              :page-size="filters.pagination.limit"
              :total="total"
              background
              layout="total, prev, pager, next"
              @current-change="handleCurrentChange"
              @size-change="handleSizeChange"
            >
            </el-pagination>
          </div>
        </div>
      </div>

      <div class="card-body table-responsive">
        <table
          v-loading="loading"
          class="table table-responsive table-hover"
        >
          <thead>
            <!-- Column lables -->
            <tr v-if="filters.visibleFields.name">
              <th
                class="clickable"
                @click="sorting('name')"
              >
                Имя <em class="el-icon-sort"></em>
                <em
                  v-if="filters.sort.field === 'name'"
                  class="pull-right fa"
                  :class="toggleArrowIcon"
                ></em>
              </th>
              <th v-if="filters.visibleFields.category">
                Категория
                <em
                  v-if="filters.sort.field === 'category_id'"
                  class="pull-right fa"
                  :class="toggleArrowIcon"
                ></em>
              </th>
              <th v-if="filters.visibleFields.phone">Телефон</th>
              <th v-if="filters.visibleFields.email">Email</th>
              <th v-if="filters.visibleFields.connection_type">Способ связи</th>
              <th
                v-if="filters.visibleFields.meeting_type"
                class="text-center"
              >
                Формат общения
              </th>
              <th
                v-if="filters.visibleFields.session_date"
                class="clickable text-center"
                @click="sorting('session_date_users')"
              >
                Ближайшая сессия <em class="el-icon-sort"></em>
                <em
                  v-if="filters.sort.field === 'session_date_users'"
                  class="pull-right fa"
                  :class="toggleArrowIcon"
                ></em>
              </th>
              <th>Действия</th>
            </tr>
          </thead>
          <!-- Table inputs -->
          <tbody>
            <tr>
              <td
                v-if="filters.visibleFields.name"
                class="search--field"
              >
                <el-input
                  v-model="filters.fields.name"
                  placeholder="Введите имя"
                  clearable
                  @input="getRecords()"
                ></el-input>
              </td>
              <td
                v-if="filters.visibleFields.category"
                class="search--field"
              >
                <el-select
                  v-model="filters.fields.category_id"
                  placeholder="Выберите категорию"
                  :clearable="true"
                  @change="getRecords()"
                >
                  <el-option
                    v-for="category in user.categories"
                    :key="category.id"
                    :label="category.name"
                    :value="category.id"
                  >
                  </el-option>
                </el-select>
              </td>
              <td
                v-if="filters.visibleFields.phone"
                class="search--field"
              >
                <el-input
                  v-model="filters.fields.phone"
                  placeholder="Введите телефон"
                  clearable
                  @input="getRecords()"
                ></el-input>
              </td>
              <td
                v-if="filters.visibleFields.email"
                class="search--field"
              >
                <el-input
                  v-model="filters.fields.email"
                  placeholder="Введите email"
                  clearable
                  @input="getRecords()"
                ></el-input>
              </td>
              <td
                v-if="filters.visibleFields.connection_type"
                class="search--field"
              >
                <el-select
                  v-model="filters.fields.connection_type"
                  placeholder="Выберите способ"
                  :clearable="true"
                  @change="getRecords()"
                >
                  <el-option
                    v-for="item in connection_types"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </td>
              <td
                v-if="filters.visibleFields.meeting_type"
                class="search--field"
              >
                <el-select
                  v-model="filters.fields.meeting_type"
                  placeholder="Выберите формат"
                  :clearable="true"
                  @change="getRecords()"
                >
                  <el-option
                    v-for="item in meeting_types"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </td>
              <td
                v-if="filters.visibleFields.session_date"
                class="search--field"
                style="position: relative; width: 450px"
              >
                <el-date-picker
                  v-model="filters.fields.date_range"
                  class="w-100"
                  style="position: absolute; bottom: 0"
                  type="daterange"
                  format="DD.MM.YYYY"
                  value-format="YYYY-MM-DD"
                  unlink-panels
                  range-separator="-"
                  start-placeholder="Искать С этой даты"
                  end-placeholder="По эту дату"
                  align="right"
                  :picker-options="pickerOptions"
                  @change="getRecords()"
                >
                </el-date-picker>
              </td>
              <td class="search--field">
                <el-button
                  type="warning"
                  plain
                  class="w-100"
                  @click="clearFilters()"
                >
                  Сбросить фильтры
                </el-button>
              </td>
            </tr>
          </tbody>
          <!-- Table rendering -->
          <tbody v-loading.lock="filterLoading">
            <tr
              v-for="(client, index) in clients"
              :key="index"
            >
              <td
                v-if="filters.visibleFields.name"
                class="clickable"
                @click="showClientInfo(client)"
                @keypress="showClientInfo(client)"
              >
                <el-link
                  :type="client.name_label"
                  :underline="false"
                >
                  {{ client.name }}
                </el-link>
              </td>
              <td
                v-if="filters.visibleFields.category"
                v-text="client.category"
              ></td>
              <td
                v-if="filters.visibleFields.phone"
                v-text="client.phone"
              ></td>
              <td
                v-if="filters.visibleFields.email"
                v-text="client.email"
              ></td>
              <td
                v-if="filters.visibleFields.connection_type"
                v-text="client.connection_type_string"
              ></td>
              <td
                v-if="filters.visibleFields.meeting_type"
                class="text-center"
              >
                <el-icon v-if="client.meeting_type === 1">
                  <OfficeBuilding />
                </el-icon>
                <el-icon v-if="client.meeting_type === 0">
                  <Service />
                </el-icon>
              </td>
              <td
                v-if="filters.visibleFields.session_date"
                class="text-center"
              >
                <el-link
                  :href="`/panel/sessions/${client.session_id}`"
                  type="info"
                  target="_blank"
                  rel="noopener noreferrer"
                  :underline="false"
                >
                  {{ client.session_date }}
                </el-link>
              </td>
              <!-- Edit buttons -->
              <td class="actions">
                <el-popconfirm
                  v-if="client.deleted"
                  title="Возобновить общение с клиентом?"
                  confirm-button-text="Да"
                  cancel-button-text="Нет"
                  width="280px"
                  hide-icon
                  @confirm="restore(client)"
                >
                  <template #reference>
                    <el-link
                      type="primary"
                      :underline="false"
                    >Общение завершено</el-link>
                  </template>
                </el-popconfirm>
                <!--                <el-button-->
                <!--                  v-if="client.deleted"-->
                <!--                  type="primary"-->
                <!--                  plain-->
                <!--                  size="small"-->
                <!--                > Возобновить общение</el-button>-->
                <el-button
                  v-if="!client.deleted"
                  type="warning"
                  plain
                  icon="Edit"
                  @click="edit(client)"
                >
                </el-button>
                <el-popconfirm
                  v-if="!client.deleted"
                  title="Завершить общение с клиентом?"
                  confirm-button-text="Да"
                  cancel-button-text="Нет"
                  width="280px"
                  @confirm="remove(client)"
                >
                  <template #reference>
                    <el-button
                      type="success"
                      plain
                      icon="CircleCheck"
                    >
                    </el-button>
                  </template>
                </el-popconfirm>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>

    <el-dialog
      v-model="showClientDetails"
      :title="client.name"
    >
      <user-details :client="client"></user-details>
    </el-dialog>

    <el-dialog
      v-model="fieldsDialogIsVisible"
      title="Видимые поля"
      width="30%"
    >
      <visible-field-dialog :fields="filters.visibleFields"></visible-field-dialog>
      <span
        class="dialog-footer"
      >
        <el-button @click="fieldsDialogIsVisible = false">Отмена</el-button>
        <el-button
          type="primary"
          @click="saveDialogFields()"
        >
          Сохранить
        </el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import FilterClient from './models/FilterClient.js'
import UserDetails from '@partials/UserDetails.vue'
import VisibleFieldDialog from '@partials/VisibleFieldDialog.vue'
import UserFilterMixin from '@mixins/UserFilterMixin.js'
import { clientActions } from '@/components/_constants/actions'

export default {
  name: 'ClientsIndex',
  components: {
    UserDetails,
    VisibleFieldDialog,
  },
  mixins: [UserFilterMixin],
  data: () => ({
    clientActions,
    filters: FilterClient,
    pickerOptions: {
      shortcuts: [{
        text: 'День',
        onClick(picker) {
          const end = new Date()
          const start = new Date()
          start.setTime(start.getTime() - 3600 * 1000 * 22.91)
          picker.$emit('pick', [start, end])
        },
      }, {
        text: 'Неделя',
        onClick(picker) {
          const end = new Date()
          const start = new Date()
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
          picker.$emit('pick', [start, end])
        },
      }, {
        text: 'Месяц',
        onClick(picker) {
          const end = new Date()
          const start = new Date()
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
          picker.$emit('pick', [start, end])
        },
      }, {
        text: '3 месяца',
        onClick(picker) {
          const end = new Date()
          const start = new Date()
          start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
          picker.$emit('pick', [start, end])
        },
      }],
    },
    moduleName: 'clients',
    clients: [],
    total: 0,
    fieldsDialogIsVisible: false,
    loading: true,
    filterLoading: false,
    saveUserAlias: 'saveUserAlias',
  }),
  computed: {
    ...mapGetters({
      categories: 'staticData/categories',
      meeting_types: 'staticData/meeting_types',
      connection_types: 'staticData/connection_types',
      client: 'client/client',
      user: 'user/user',
    }),

    toggleArrowIcon() {
      return this.filters.sort.order ? 'fas fa-sort-amount-up' : 'fas fa-sort-amount-down'
    },
    showClientDetails: {
      get() {
        return this.$store.state.client.showClientDetails
      },
      set() {
        this.$store.commit('client/SET_DETAILS')
      },
    },
  },
  created() {
    this.init()
  },
  methods: {
    ...mapActions({
      getCategories: 'staticData/getCategories',
      getConnectionTypes: 'staticData/getConnectionTypes',
      getMeetingTypes: 'staticData/getMeetingTypes',
      showClientInfo: 'client/showClientInfo',
    }),
    async init() {
      this.loading = true
      const response = await this.getUserFilters(this.moduleName)
      this.filters = Object.keys(response.filters).length > 0 ? response.filters : FilterClient
      await this.getRecords()
      if (this.categories.length <= 0) {
        await this.getCategories()
      }
      if (this.meeting_types.length <= 0) {
        await this.getMeetingTypes()
      }
      if (this.connection_types.length <= 0) {
        await this.getConnectionTypes()
      }
      this.loading = false
    },
    async getRecords() {
      this.filterLoading = true
      try {
        await this.setUserFilters(this.moduleName, this.filters)
        const response = await this.$http.get(
          this.clientActions.rest,
          { params: { options: this.filters } },
        )
        this.clients = response.data.data.clients
        this.total = response.data.data.total
        this.filterLoading = false
      } catch (e) {
        this.$message.error(e.response.data.message)
      }
    },
    async edit(model) {
      await this.$router.push({
        name: `${this.moduleName}.update`,
        params: { id: model.id },
      })
    },
    async create() {
      await this.$router.push({ name: `${this.moduleName}.create` })
    },
    async remove(client) {
      this.loading = true
      this.errors = []
      try {
        const response = await this.$http.delete(`${this.clientActions.rest}/${client.id}`)
        await this.getRecords()
        this.$message.success(response.data.message)
      } catch (e) {
        if (!e.response) {
          throw e
        }
        switch (e.response.status) {
          case 422:
            this.errors = e.response.data
            this.$message.error(this.errors.message)
            break
          default:
            this.$message.error('Server error')
        }
      } finally {
        this.loading = false
      }
    },
    async restore(client) {
      try {
        const response = await this.$http.post(`${this.clientActions.restore}/${client.id}`)
        await this.getRecords()
        this.$message.success(response.data.message)
      } catch (e) {
        if (!e.response) {
          throw e
        }
        switch (e.response.status) {
          case 422:
            this.errors = e.response.data
            this.$message.error(this.errors.message)
            break
          default:
            this.$message.error('Server error')
        }
      }
    },
    async sorting(field) {
      this.loading = true
      this.filters.sort.field = field
      this.filters.sort.order = !this.filters.sort.order
      await this.getRecords()
    },
    async handleCurrentChange(page) {
      this.loading = true
      this.filters.pagination.page = page
      await this.getRecords()
    },
    async handleSizeChange(size) {
      this.filters.pagination.limit = size
      await this.getRecords()
    },
    async clearFilters() {
      this.filters = JSON.parse(JSON.stringify(FilterClient))
      await this.clearUserFilters(this.moduleName)
      await this.getRecords()
    },
    async saveDialogFields() {
      await this.setUserFilters(this.moduleName, this.filters)
      this.fieldsDialogIsVisible = false
    },
  },
}
</script>
<style scoped></style>
