<template>
  <div class="col-12 d-flex flex-column gap-2">
    <div class="card card-header">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
          <el-button
            type="success"
            @click="validate()"
          >
            <em class="CircleCheck"></em>
            Сохранить
          </el-button>
        </div>
      </div>
    </div>
    <el-row
      :gutter="20"
    >
      <el-col
        :xl="8"
        :md="12"
      >
        <div class="card">
          <div
            v-loading="loading"
            class="card-body"
          >
            <div>
              <h4>Основная информация</h4>
            </div>
            <el-form
              ref="user"
              :model="user"
              label-position="top"
              :rules="rules"
              require-asterisk-position="right"
            >
              <el-form-item
                prop="name"
                label="Имя"
                class="form-group"
                required
              >
                <el-input
                  v-model="user.name"
                ></el-input>
              </el-form-item>
              <el-form-item
                prop="email"
                label="Email"
                class="form-group"
              >
                <el-input
                  v-model="user.email"
                  type="email"
                ></el-input>
              </el-form-item>
              <el-form-item
                required
                prop="phone"
                label="Телефон"
                class="form-group"
              >
                <el-input
                  v-model="user.phone"
                  v-maska="['+7 (###) ##-##-##', '+7 (###) ###-##-##']"
                  type="tel"
                ></el-input>
              </el-form-item>
              <el-form-item
                prop="gender"
                label="Пол"
                class="form-group"
              >
                <el-select
                  v-model="user.gender"
                  class="w-100"
                >
                  <el-option
                    label="Жещнина"
                    :value="0"
                  ></el-option>
                  <el-option
                    label="Мужчина"
                    :value="1"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item
                prop="site"
                label="Личный сайт"
                class="form-group"
              >
                <el-input
                  v-model="user.site"
                  placeholder="https://"
                  clearable
                >
                </el-input>
              </el-form-item>
            </el-form>
          </div>
        </div>
      </el-col>
      <el-col
        :xl="8"
        :md="12"
      >
        <div class="card">
          <div
            v-loading="loading"
            class="card-body"
          >
            <div>
              <h4>Категории</h4>
            </div>
            <form
              class="el-form"
              @submit.prevent
            >
              <div class="form-group">
                <div>
                  <div class="d-flex justify-content-start align-items-center gap-1 pb-2">
                    <el-switch v-model="showDefaultCategories" />
                    <small> {{ showDefaultCategories ? 'Скрыть' : 'Показать' }} стандартные категории</small>
                  </div>
                  <el-button-group
                    v-if="showDefaultCategories"
                    v-model="user.categories"
                    class="pb-2"
                  >
                    <el-button
                      v-for="(category, index) in defaultCategories"
                      :key="index"
                      :label="category"
                      border
                      :disabled="disableSelectedCategories(category)"
                      @click="syncCategories(category)"
                    >
                      {{ category }}
                    </el-button>
                  </el-button-group>
                </div>
              </div>
            </form>
            <form
              class="el-form"
              @submit.prevent
            >
              <div class="form-group d-flex gap-2 align-items-center ">
                <el-input
                  v-model="newCategory"
                  type="text"
                  clearable
                ></el-input>
                <el-button
                  type="primary"
                  @click="syncCategories(newCategory)"
                > Добавить категорию </el-button>
              </div>
              <div class="form-group">
                <ul class="list-group mt-2">
                  <li
                    v-for="item in user.categories"
                    :key="item.id"
                    class="list-group-item d-flex justify-content-between align-items-center"
                  > {{ item.name }}
                    <el-button
                      type="danger"
                      icon="Delete"
                      circle
                      @click="showDialog(item)"
                    ></el-button>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </el-col>
    </el-row>
    <el-dialog
      v-model="dialogVisible"
      title="Внимание!"
      width="30%"
      align-center
    >
      <span class="text-break">
        Категория <strong>{{ removableItem.name }}</strong>
        будет удалена у всех клиентов, которым назначена.
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">Отмена</el-button>
          <el-button
            type="danger"
            @click="remove()"
          >
            Удалить
          </el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { defaultCategories } from '@/components/_constants/categories'
import { mapActions, mapGetters } from 'vuex'
import { vMaska } from 'maska'
import { userActions } from '@/components/_constants/actions'

export default {
  name: 'ProfileForm',
  directives: { maska: vMaska },
  data() {
    return {
      userActions,
      defaultCategories,
      newCategory: '',
      showDefaultCategories: false,
      gender_list: [],
      selected_categories: [],
      errors: [],
      loading: true,
      addCategoryInput: false,
      tooltips: this.$tooltips,
      dialogVisible: false,
      removableItem: {},
      rules: {
        name: [this.$rules.required, this.$rules.name],
        phone: [this.$rules.required, this.$rules.phone],
        email: [this.$rules.email],
      },
    }
  },
  computed: {
    ...mapGetters({
      categories: 'userCategories/categories',
      user: 'user/user',
    }),
  },
  async created() {
    await this.getGenderList()
    await this.getUser()
    await this.getCategories()
    this.loading = false
  },
  methods: {

    ...mapActions({
      getCategories: 'userCategories/getCategories',
      addNewCategory: 'userCategories/addNewCategory',
      getUser: 'user/getUser',
    }),
    async syncCategories(newCategory) {
      this.loading = true
      try {
        const response = await this.$http.post(this.userActions.syncCategories, {
          category: newCategory,
        })
        await this.getUser()
        this.$message.success(response.data.message)
        this.newCategory = ''
      } catch (e) {
        this.$message.error(e.response.data.message)
      } finally {
        this.loading = false
      }
    },
    async getGenderList() {
      const response = await this.$http.get(this.userActions.getGenderList)
      this.gender_list = response.data.data.gender_list
    },
    async remove() {
      this.loading = true
      this.errors = []
      try {
        await this.$http.delete(`${this.userActions.restCategories}/${this.removableItem.id}`)
        await this.getCategories()
        await this.getUser()
      } catch (e) {
        if (!e.response) {
          throw e
        }
        switch (e.response.status) {
          case 422:
            this.errors = e.response.data
            this.$message.error(this.errors.message)
            break
          default:
            this.$message.error('Server error')
        }
      } finally {
        this.dialogVisible = false
        this.loading = false
      }
    },
    async validate() {
      await this.$refs.user.validate((valid) => {
        if (valid) {
          this.save()
        } else {
          this.$message.error('Заполните все необходимые поля')
        }
      })
    },
    async save() {
      this.loading = true
      this.errors = []
      try {
        const response = await this.$http.put(`${this.userActions.rest}`, this.user)
        this.user = response.data.data.user
        this.$message.success(response.data.message)
      } catch (e) {
        if (!e.response) {
          throw e
        }
        this.errors = e.response.data
        switch (e.response.status) {
          case 422:
            this.$message.error(this.errors.message)

            break
          default:
            this.$message.error('Server error')
        }
      } finally {
        this.loading = false
      }
    },
    disableSelectedCategories(category) {
      return this.user.categories
        .filter(({ name }) => name.toLowerCase() === category.toLowerCase())
        .length > 0
    },
    showDialog(item) {
      this.dialogVisible = true
      this.removableItem = item
    },
    handleClose(tag) {
      this.categories.splice(this.categories.indexOf(tag), 1)
    },
    showInput() {
      this.addCategoryInput = true
      this.$nextTick(() => {
        this.$refs.saveTagInput.$refs.input.focus()
      })
    },
    handleInputConfirm() {
      const inputValue = this.new_category_name
      if (inputValue) {
        this.categories.push(inputValue)
      }
      this.addCategoryInput = false
      this.new_category_name = ''
    },
  },
}
</script>

<style lang="scss" scoped>
//.el-col {
//  margin-bottom: 20px;
//}
//  .not-set {
//    color: red;
//  }
//  .card {
//    min-width: 250px;
//  }
</style>
